.row {
	/* display: flex;
	width: 100%; */
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/* .column-1 {
	height: 100vh;
	flex-direction: column;
	flex: 0 0 30%;
	max-width: 30%;
	background-color: #d4d4d4;
	padding-left: 10px;
	padding-right: 10px;
}

.column-2 {
	height: 100vh;
	flex-direction: column;
	flex: 0 0 68%;
	max-width: 68%;
	padding-left: 10px;
	padding-right: 10px;
} */

.container-fluid {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.col-4 {
	background-color: #d4d4d4;
	height: 90vh;
}

@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
	.col-4,
	.col-8 {
		flex-direction: row;
		max-width: 100% !important;
	}
	.col-4 .card {
		flex-direction: column;
	}
}
