.row {
	display: flex;
	width: 100%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.col-1 {
	height: 100vh;
	flex-direction: column;
	flex: 0 0 30% !important;
	max-width: 30% !important;
	background-color: #d4d4d4;
}

.col-2 {
	height: 100vh;
	flex-direction: column;
	flex: 0 0 68% !important;
	max-width: 68% !important;
}
