* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

*:focus {
	outline: none;
}

nav {
	background-color: #132743;
}

.card {
	background-color: #edc988 !important;
}

.btn-primary {
	border-color: #d7385e !important;
	background-color: #d7385e !important;
}

.row {
	/* display: flex;
	width: 100%; */
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.container-fluid {
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.jumbotron {
	margin-bottom: 0 !important;
	background-color: #f8efd4 !important;
}

.col-4 {
	background-color: #f8efd4 !important;
}

.addItem {
	border: none;
	background-color: transparent;
	padding: 2px 5px;
	font-size: 120%;
}
.addItem:focus {
	outline: none;
}

@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
	.col-4,
	.col-8 {
		flex-direction: row;
		max-width: 100% !important;
	}
	.col-4 .card {
		flex-direction: column;
	}
}

.main {
	width: 50%;
	margin: 50px auto;
}

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}
