<%- include('../partials/start.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="row">
    <div class="col-1">
        <h2 class="text-center">Cook Book</h2>
    </div>
    <div class="col-2">
        <h2 class="text-center">Plan your diet</h2>
    </div>
</div>

<%- include('../partials/end.ejs') %>