<%- include('../partials/start.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2 class="text-center">Search Meals</h2>
            <div class="container main">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search your meals...">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="card mb-3" style="max-width: 400px;">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    <img src="/images/img1.jpg" class="card-img" alt="..." style="width: 100%">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title">Recipe Name</h5>
                      <p class="card-text">Some description or tags</p>
                      <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 400px;">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    <img src="/images/img1.jpg" class="card-img" alt="..." style="width: 100%">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title">Recipe Name</h5>
                      <p class="card-text">Some description or tags</p>
                      <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
            
        </div>
        <div class="col-8">
            <!-- <h2 class="text-center">Plan your diet</h2> -->
            <div class="container">
                
            </div>
        </div>
    </div>
</div>

<%- include('../partials/end.ejs') %>