<%- include('../partials/start.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2 class="text-center">Search Meals</h2>
            <div class="container main">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search your meals...">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="card mb-3" style="max-width: 400px;">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    <img src="/images/img1.jpg" class="card-img" alt="..." style="width: 100%">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title">Recipe Name</h5>
                      <p class="card-text">Some description or tags</p>
                      <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card mb-3" style="max-width: 400px;">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    <img src="/images/img1.jpg" class="card-img" alt="..." style="width: 100%">
                  </div>
                  <div class="col-md-7">
                    <div class="card-body">
                      <h5 class="card-title">Recipe Name</h5>
                      <p class="card-text">Some description or tags</p>
                      <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                  </div>
                </div>
              </div>
              
              
            </div>
            
        </div>
        <div class="col-8">
            <div class="container">
              <div class="row">
                <div class="btn-block pull-right">
                  <button type="button" class="btn btn-primary pull-right">Add to Cookbook</button>
                </div>
              </div>
              <br>
              <div class="row">
                <h2 class="recipe-title">Recipe Title</h2>
                <p class="recipe-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at lorem neque. Praesent fringilla lorem eu erat consectetur malesuada. Praesent ut ornare magna. Maecenas bibendum dui ut dolor viverra, et sollicitudin lectus efficitur. Quisque et laoreet arcu. Quisque sit amet tellus erat. Vestibulum ut leo at massa pretium elementum et eget arcu. Pellentesque sagittis feugiat arcu, sed tincidunt arcu congue ut. Proin faucibus odio quis augue fringilla
                </p>
                <img src="/images/img1.jpg" class="card-img text-center" alt="..." style="width: 300px">
              </div>
              
                <h3>Nutrition Value:</h3>
                <p>Protein</p>
                <p>Carbs</p>
                <p>Fat</p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/end.ejs') %>