<%- include('../partials/start.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="row">
    <div class="col-1">
        <h2 class="text-center">Cook Book</h2>
        <div class="card bg-light text-dark ml-1">
            <div class="card-body">Some recipe</div>
        </div>
        <div class="card bg-light text-dark ml-1">
            <div class="card-body">Another recipe</div>
        </div>
        <div class="card bg-light text-dark ml-1">
            <div class="card-body">More recipe</div>
        </div>
    </div>
    <div class="col-2">
        <h2 class="text-center">Plan your diet</h2>
        <div class="meal-table">
            <table width="100%" border="1" bordercolor="#cccccc" cellpadding="5" cellspacing="5">
                <tr>
                    <td></td>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                <tr>
                    <td rowspan="3">Breakfast</td>
                    <td>Meeting at ABC-123 Ltd</td>
                    <td>Business Lunch at 1pm</td>
                    <td>Project due by 5pm</td>
                    <td>Web Conference in London</td>
                    <td>Early Finish (4pm)</td>
                    <td>Early Finish (4pm)</td>
                    <td>Early Finish (4pm)</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td rowspan="3">Lunch</td>
                    <td>Meeting at ABC-123 Ltd</td>
                    <td>Business Lunch at 1pm</td>
                    <td>Project due by 5pm</td>
                    <td>Web Conference in London</td>
                    <td>Early Finish (4pm)</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td rowspan="3">Dinner</td>
                    <td>Meeting at ABC-123 Ltd</td>
                    <td>Business Lunch at 1pm</td>
                    <td>Project due by 5pm</td>
                    <td>Web Conference in London</td>
                    <td>Early Finish (4pm)</td>
                </tr>
               </table>
        </div>
    </div>
</div>

<%- include('../partials/end.ejs') %>