<%- include('../partials/start.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to DietCare</h1>
      <p class="lead">DietCare helps you prepare meals with the ingredients you have, save your favorite recipes in one place. Create weekly meal plans and a lot more.</p>
    </div>
    <div class="container">
        <a href="/planmeals" class="btn btn-primary btn-sm">Plan your meals <i class="fas fa-arrow-right"></i></a>
        <a href="/cookbook" class="btn btn-primary btn-sm">View Cookbook <i class="fas fa-arrow-right"></i></a>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container mt-2">
        <div class="row">
            <div class="col-5">
                <img src="/images/img2.jpg" class="card-img" alt="..." style="width: 80%">
            </div>
            <div class="col-7 p-5">
                <h3>All in one place</h3>
                <p>Storing your recipes in DietCare allows you to quickly search, find, and select what you want to cook.</p>
                <br>
                <h3>User Friendly</h3>
                <p>Provides smooth user experience</p>
                <br>
                <h3>Meal Planner</h3>
                <p>Found a meal you loved? Add it to your Cookbook and later you can add it to your weekly plan.</p>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/end.ejs') %>