<%- include('../partials/start.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2 class="text-center">My CookBook</h2>
            <hr>
            <div class="card text-dark ml-1">
                <div class="card-body">Some recipe</div>
            </div>
            <div class="card text-dark ml-1">
                <div class="card-body">Another recipe</div>
            </div>
            <div class="card text-dark ml-1">
                <div class="card-body">More recipe</div>
            </div>
        </div>
        <div class="col-8">
            <h2 class="text-center">Plan your diet</h2>
            <hr>
            <div class="meal-table table-responsive">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" rowspan="3">Breakfast</th>
                        <button class="btn btn-primary mb-2 pull-right mt-auto" data-name="https://drive.google.com/file/d/1EyDDgiIvdRK8ew-GPO2sNPHQkN_cjpbZ/preview" >View</button>
                        <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <th scope="row" rowspan="3">Lunch</th>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <th scope="row" rowspan="3">Dinner</th>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button type="button" class="btn btn-info btn-lg"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
                <h2 class="text-center text-white">Your recipes</h2>
                <div class="card bg-light text-dark ml-1">
                    <div class="card-body">Some recipe <button type="button" class="btn btn-primary pull-right">+ Add item</button></div>
                </div>
                <div class="card bg-light text-dark ml-1">
                    <div class="card-body">Another recipe <button type="button" class="btn btn-primary pull-right">+ Add item</button></div>
                </div>
                <div class="card bg-light text-dark ml-1">
                    <div class="card-body">More recipe <button type="button" class="btn btn-primary pull-right">+ Add item</button></div>
        </div>
    </div>
  </div>
  
</div>

<script>
    
</script>

<%- include('../partials/end.ejs') %>