<%- include('../partials/start.ejs') %>
<%- include('../partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2 class="text-center">Cook Book</h2>
            <div class="card bg-light text-dark ml-1">
                <div class="card-body">Some recipe</div>
            </div>
            <div class="card bg-light text-dark ml-1">
                <div class="card-body">Another recipe</div>
            </div>
            <div class="card bg-light text-dark ml-1">
                <div class="card-body">More recipe</div>
            </div>
        </div>
        <div class="col-8">
            <h2 class="text-center">Plan your diet</h2>
            <div class="meal-table table-responsive">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Monday</th>
                        <th scope="col">Tuesday</th>
                        <th scope="col">Wednesday</th>
                        <th scope="col">Thursday</th>
                        <th scope="col">Friday</th>
                        <th scope="col">Saturday</th>
                        <th scope="col">Sunday</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" rowspan="3">Breakfast</th>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <th scope="row" rowspan="3">Lunch</th>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                      <tr>
                        <th scope="row" rowspan="3">Dinner</th>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                        <td><button class="addItem"><ion-icon name="add-circle-outline"></ion-icon></button></td>
                      </tr>
                      <tr></tr>
                      <tr></tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/end.ejs') %>